body{
    background-color: #F5F5FA;
}  
.layout-main {
    display: flex;
    flex: 1;
}
.wrapper {
    display: flex;
    flex: 1;
    gap: 20px;
    padding: 10px 40px;
}
.menubar {
    width: 15%;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.content {
    width: 85%;
    background-color: #FFFFFF;
    border-radius: 5px;
}